.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
  width: 674px;
  min-width: 674px;
  max-width: 674px;
  /* background-color: chocolate; */
  margin-top: 5px;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
}


.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  min-width: 70%;
  /* border: 1px solid sandybrown; */
  /* margin-top: 5px; */
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

.footer-menu-item {
  position: relative;
  cursor: pointer;
}

.footer-menu-item::after {
  content: '';
  position: absolute;
  top: 0px;
  right: -14px;
  width: 1px;
  height: 14px;
  /* border-radius: 1px; */
  background-color: rgb(55, 55, 55);
}
.footer-menu-item:last-of-type::after {
  width: 0;
  height: 0;
}
