.item-container {
  margin-right: auto;
  margin-left: auto;
  width: 674px;
  min-width: 674px;
  max-width: 674px;
  height: 100%;

  margin-top: 10px;
}
.item-body {
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: flex-start;
  background-color: burlywood;
}
.first-line {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  min-width: 95%;
  flex-wrap: nowrap;
  margin-top: 5px;
}

.item-author {
  margin-left: 20px;
}

.second-line {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  min-width: 95%;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.item-type {
  margin-left: 20px;
}

.third-line {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  min-width: 95%;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-bottom: 5px;
}

.item-element {
  cursor: pointer;
}

.item-comments, .item-kids {
  margin-left: 20px;
}